body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #1C5D3C;
  border-color: #1B752E;
}

.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover {
    color: #777;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #999;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}
.navbar-toggle:hover {
    background-color: #1B752E !important;
}
.navbar-toggle {
    background-color: #1C5D3C !important;
}
