{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}
    Hello {{ block.super }}
{% endblock %}

<style>
{% block style %}
.navbar-static-top {
  margin-bottom: 0px !important;
}
.jumbotron {
    background-color: #1C5D3C;
    color: white;
}

{% endblock %}
</style>

<!-- Main component for a primary marketing message or call to action -->
{% block jumbotron %}
{% if not request.user.is_authenticated %}
<div class="jumbotron">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Try Django 1.9</h1>
            <p>The MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. Join us today.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="" role="button">Join us &raquo;</a>
            </p>
        </div>
        <div class="col-sm-6">
            <!-- ## ESTO ES LA LOCURA.
            ## POR ALGUNAS RAZON EL SIGUIENTE CODIGO NO FUNCIONA NI EN
            ## SAFARI NI EN OPERA. PERFECTO EN CHROME Y SAFARI.
            ## POR OTRA PARTE, AL PARECER WIDHT AND HEIGHT NO HACEN NADA.
            ## PARA SER EXACTOS, LOS ELIMINE Y NO PASO NADA.
            ## FINALMENTE, AUNQUE EL VIDEO ES 4X3 SE VE MEJOR USANDO 16X9!!!! -->
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" src="{% static 'video/marcel.mp4' %}" type="video/mp4" controls>
                    Your browser does not support the video tag
                </video>
            </div>
            <!-- <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{% static 'video/marcel.mp4' %}" allowfullscreen></iframe>
            </div> -->
            <!-- ## OTROS EJEMPLOS -->
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/MJzxuG_MCmw" frameborder="0" allowfullscreen></iframe> -->
            <!-- <iframe width="490" height="360" src="{% static 'video/marcel.mp4' %}" frameborder="0" allowfullscreen></iframe> -->
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/yyTjy-dTg7E" frameborder="0" allowfullscreen></iframe> -->
            <!-- <img src="{% static 'img/beach.jpg' %}" class='img-responsive' /> -->
            <!-- <img src="https://lh5.ggpht.com/X6S-3G1irwe649hOPWe2GYqcl4eSxK69r6Y1CGoC9oXk45MRwTTywpz0vdVoQS0_vVVX=h900" class='img-responsive'/> -->
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <h1>You are logged in!</h1>
    {{ queryset }}
{% else %}

<div class="row">
    <div class="col-sm-3 pull-right">
        <p class="lead text-align-center">{{ title }}</h1>

        <!-- csrf_token es una medida de seguridad de django -->
        <form method='POST' action=''> {% csrf_token %}
            {{ form|crispy }}

            <input class='btn btn-primary' type='submit' value='Sign Up' />
        </form>
    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Django &amp; Bootstrap</p>
        <img src="{% static 'img/beach.jpg' %}" class='img-responsive' />
    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Created for Starters<br/><br/>
            <span class="fa-stack fa-lg" style="font-size:3em;color:red;">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-bolt fa-1x" aria-hidden="true" style="color:blue;"></i>
            </span>
        </p>

    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Always open source<br/><br/>
            <span class="fa-stack fa-lg" style="font-size:3em;">
                <i class="fa fa-circle-o-notch fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </p>
    </div>
</div>

{% endif %}
{% endblock %}
