{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}
    Hello {{ block.super }}
{% endblock %}

<style>
{% block style %}
.navbar-static-top {
  margin-bottom: 0px !important;
}
.jumbotron {
    background-color: #1C5D3C;
    color: white;
}

{% endblock %}
</style>

<!-- Main component for a primary marketing message or call to action -->
{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Try Django 1.9</h1>
            <p>The MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. Join us today.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="" role="button">Join us &raquo;</a>
            </p>
        </div>
        <div class="col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MJzxuG_MCmw" frameborder="0" allowfullscreen></iframe>
        <!-- <img src="{% static 'img/beach.jpg' %}" class='img-responsive' /> -->
        <!-- <img src="https://lh5.ggpht.com/X6S-3G1irwe649hOPWe2GYqcl4eSxK69r6Y1CGoC9oXk45MRwTTywpz0vdVoQS0_vVVX=h900" class='img-responsive'/> -->
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-3 pull-right">
        <p class="lead text-align-center">{{ title }}</h1>

        <!-- csrf_token es una medida de seguridad de django -->
        <form method='POST' action=''> {% csrf_token %}
            {{ form|crispy }}

            <input class='btn btn-primary' type='submit' value='Sign Up' />
        </form>
    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Built with Django &amp; Bootstrap.</p>
        <img src="{% static 'img/beach.jpg' %}" class='img-responsive' />
    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Created for Starters of all kinds.<br/>
            <span class="fa-stack fa-lg" style="font-size:3em;color:red;">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-bolt fa-1x" aria-hidden="true" style="color:blue;"></i>
            </span>
        </p>

    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Always open source.<br/><br/>
            <span class="fa-stack fa-lg" style="font-size:3em;">
                <i class="fa fa-circle-o-notch fa-spin fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </p>
    </div>
</div>

{% endblock %}
