{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    Hello {{ block.super }}
{% endblock %}

<style>
{% block style %}
    /*Override aligning in lead class. A lot cleaner*/

{% endblock %}
</style>

<!-- Main component for a primary marketing message or call to action -->
{% block jumbotron_content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h1>Try Django 1.9</h1>
            <p>The MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. Join us today.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="" role="button">Join us &raquo;</a>
            </p>
        </div>
        <div class="col-sm-6" style="background-color:black;height:300px;">

        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-3 pull-right">
        <p class="lead text-align-center">{{ title }}</h1>

        <!-- csrf_token es una medida de seguridad de django -->
        <form method='POST' action=''> {% csrf_token %}
            {{ form|crispy }}

            <input class='btn btn-primary' type='submit' value='Sign Up' />
        </form>
    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Built with Django &amp; Bootstrap.</p>
    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Created for Starters of all kinds.</p>
    </div>
    <div class="lead text-align-center col-sm-3">
        <p>Always open source.</p>
    </div>
</div>

{% endblock %}
